<div class="container mt-5 border border-4 p-5">
    <h2 class="text-center">Chat en vivo</h2>
    <form onsubmit="return sendMsg()" class="d-flex justify-content-around p-5">
        <div>
            <label for="email">Inserte su correo electrónico</label>
            <input id="userEmail" type="email" name="email" required />
        </div>
        <div>
            <label for="message">Inserte su mensaje</label>
            <input id="userMsg" type="text" name="message" required />
        </div>
        <input type="submit" value="Enviar" />
    </form>
    <div id="div-chats" class="container d-flex flex-column border border-2">
    </div>
</div>