<head class="headerpartial">
    <nav class="nav">
        <a class="navLink" href="/">
            Añadir producto
        </a>
        <a class="navLink" href="/productos/all">
            Productos
        </a>
    </nav>
</head>