<ul class="navbar">
    <li class="navbar-list">
        <a href='/' class="navbar-link">Inicio</a>
        <a href='/chat' class="navbar-link">Chat</a>
        <a href='/' class="navbar-link">Contacto</a>
    </li>
</ul>